In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier, BaggingRegressor, AdaBoostClassifier, HistGradientBoostingClassifier
from sklearn.linear_model import SGDRegressor

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/DATA151-FA2021/semester-project-team-4/main/data/IMDb_clean_with_dir_avg.csv?token=ARAN4D2CGACVZPJCCKZ2UDLBSQG2I') #must get new link each time

In [ ]:
##df = pd.read_csv("/content/IMDb_clean_with_dir_avg.csv")

In [ ]:
df

      Unnamed: 0  ... director_avg
0              0  ...     6.768000
1              1  ...     6.312500
2              2  ...     6.426087
3              3  ...     7.528000
4              4  ...     5.562500
...          ...  ...          ...
1940        1940  ...     5.900000
1941        1941  ...     6.450000
1942        1942  ...     5.550000
1943        1943  ...     5.900000
1944        1944  ...     6.425000

[1945 rows x 18 columns]

Regression model with all features.

In [ ]:
features = df[['duration', 'budget', 'usa_gross_income', 'metascore', 'director_avg']]

In [ ]:
features

      duration    budget  usa_gross_income  metascore  director_avg
0          137  40000000          77868585         38      6.768000
1          112   6500000          57504069         76      6.312500
2          136  30000000          49114016         80      6.426087
3          128  35000000          79091969         73      7.528000
4          113  27000000         124033791         70      5.562500
...        ...       ...               ...        ...           ...
1940       106  30000000          74152591         53      5.900000
1941        95  30000000            942666         22      6.450000
1942       109   6000000          19005109         10      5.550000
1943        92   3000000          10691091         39      5.900000
1944       116  12000000           9868521         41      6.425000

[1945 rows x 5 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features, df['avg_vote'], test_size=0.3)

In [ ]:
regressor = LinearRegression()
regressor.fit(X_train, y_train);

In [ ]:
coeff_df = pd.DataFrame(regressor.coef_, features.columns, columns=['Coefficient'])
coeff_df

                   Coefficient
duration          7.185162e-03
budget           -3.546222e-09
usa_gross_income  1.339059e-09
metascore         2.192859e-02
director_avg      6.653231e-01

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
df_test = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df_test

      Actual  Predicted
1248     6.8   6.420831
287      6.8   6.767726
1238     6.7   6.257312
381      5.3   5.230857
956      6.4   6.179563
...      ...        ...
555      5.0   4.919421
1333     6.2   6.141903
814      5.7   6.028903
1865     3.5   4.614922
1283     6.5   6.246060

[584 rows x 2 columns]

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R^2: ', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 0.4008916107410634
Mean Squared Error: 0.26708958937523464
Root Mean Squared Error: 0.5168071104147414
R^2:  0.7066380264913159

Regression model without director average.

In [ ]:
features2 = df[['duration', 'budget', 'usa_gross_income', 'metascore']]
X_train2, X_test2, y_train2, y_test2 = train_test_split(features2, df['avg_vote'], test_size=0.3)
regressor.fit(X_train2, y_train2)
y_pred2 = regressor.predict(X_test2)
df_test2 = pd.DataFrame({'Actual': y_test2, 'Predicted': y_pred2})
df_test2

      Actual  Predicted
658      6.3   6.180801
823      6.7   6.587147
964      6.5   7.476458
121      6.1   6.504378
1120     7.1   6.572976
...      ...        ...
1663     5.9   6.010902
405      7.3   7.549184
829      6.5   6.040175
1066     3.2   5.581850
855      6.8   6.409922

[584 rows x 2 columns]

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test2, y_pred2))
print('Mean Squared Error:', metrics.mean_squared_error(y_test2, y_pred2))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test2, y_pred2)))
print('R^2: ', metrics.r2_score(y_test2, y_pred2))

Mean Absolute Error: 0.5059291108983924
Mean Squared Error: 0.47818709718677815
Root Mean Squared Error: 0.6915107354096378
R^2:  0.521751147325936

Without metascore

In [ ]:
features3 = df[['duration', 'budget', 'usa_gross_income', 'director_avg']]
X_train3, X_test3, y_train3, y_test3 = train_test_split(features3, df['avg_vote'], test_size=0.3)
regressor.fit(X_train3, y_train3)
y_pred3 = regressor.predict(X_test3)
df_test3 = pd.DataFrame({'Actual': y_test3, 'Predicted': y_pred3})
df_test3

      Actual  Predicted
1554     6.7   6.096211
77       6.7   6.056250
557      4.7   5.092753
1428     6.1   5.254864
1336     5.2   5.742631
...      ...        ...
401      4.5   5.865659
1399     6.7   6.872435
454      5.7   5.723917
55       7.5   6.774668
895      6.3   5.485169

[584 rows x 2 columns]

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test3, y_pred3))
print('Mean Squared Error:', metrics.mean_squared_error(y_test3, y_pred3))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test3, y_pred3)))
print('R^2: ', metrics.r2_score(y_test3, y_pred3))

Mean Absolute Error: 0.45886300889235254
Mean Squared Error: 0.40377074404565444
Root Mean Squared Error: 0.635429574418483
R^2:  0.6067517168969845

Without budget and gross income

In [ ]:
features5 = df[['duration', 'metascore', 'director_avg']]
X_train5, X_test5, y_train5, y_test5 = train_test_split(features5, df['avg_vote'], test_size=0.3)
regressor.fit(X_train5, y_train5)
y_pred5 = regressor.predict(X_test5)
df_test5 = pd.DataFrame({'Actual': y_test5, 'Predicted': y_pred5})
df_test5

      Actual  Predicted
763      6.3   5.567760
175      6.1   6.850177
813      6.1   5.806932
33       6.3   6.071211
1394     5.7   5.829854
...      ...        ...
164      5.8   6.135381
894      5.8   5.289962
1484     7.8   7.521358
1508     6.1   5.869975
1525     5.8   6.207963

[584 rows x 2 columns]

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test5, y_pred5))
print('Mean Squared Error:', metrics.mean_squared_error(y_test5, y_pred5))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test5, y_pred5)))
print('R^2: ', metrics.r2_score(y_test5, y_pred5))

Mean Absolute Error: 0.44067205633533696
Mean Squared Error: 0.353530045949945
Root Mean Squared Error: 0.5945839267504168
R^2:  0.6452580800299659

Lasso Regression with all features

In [ ]:
lassoRegressor = Lasso()
lassoRegressor.fit(X_train, y_train)
y_pred = lassoRegressor.predict(X_test)
df_test = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df_test

      Actual  Predicted
1248     6.8   6.322550
287      6.8   6.334038
1238     6.7   6.272528
381      5.3   5.528262
956      6.4   6.503269
...      ...        ...
555      5.0   5.027269
1333     6.2   5.699913
814      5.7   6.376174
1865     3.5   5.256805
1283     6.5   6.125183

[584 rows x 2 columns]

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R^2: ', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 0.48607074037526665
Mean Squared Error: 0.4124161993497074
Root Mean Squared Error: 0.6421963869017853
R^2:  0.5470163010426967

## Regression - Bagging (Ensemble)

In [ ]:
X = StandardScaler().fit_transform(df[['duration', 'budget', 'usa_gross_income', 'director_avg']])
y = df['avg_vote']

X_train4, X_test4, y_train4, ytrue4 = train_test_split(X, y, test_size=0.3, random_state=1)

regressor = BaggingRegressor(base_estimator=SGDRegressor(), n_estimators=1000, max_samples=35, max_features=4)
regressor.fit(X_train4, y_train4);

y_pred4 = regressor.predict(X_test4)

print('Mean Absolute Error:', metrics.mean_absolute_error(ytrue4, y_pred4))
print('Mean Squared Error:', metrics.mean_squared_error(ytrue4, y_pred4))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(ytrue4, y_pred4)))
print('R^2: ', metrics.r2_score(ytrue4, y_pred4))

Mean Absolute Error: 0.5266401025334572
Mean Squared Error: 0.46568491537530554
Root Mean Squared Error: 0.6824111043757315
R^2:  0.5139885940954665